<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="sMailServer" value="148.226.12.25"/>
    <add key="PATH" value="LDAP://148.226.12.12"/>
    <!--Cuenta para el envío de Notificaciones-->
    <add key="AppMail" value="ser-uv@uv.mx"/>
    <add key="AppMailPwd" value="U2VydXZDRzIwMTk="/>
    <!--<add key="SmtpClient" value="exuv01.intra.uv.mx"/>-->
    <add key="SmtpClient" value="smtp.office365.com"/>
    <!--<add key="SmtpClient" value="https://smtp.office365.com"/>-->
    <!--Cliente SMTP-->
    <add key="Subject" value="SERUV Notificaciones"/>
    <!--Texto del Asunto de la Notificación-->
    <!--Prueba SAIS-SIA-->
    <!--<add key="DVLP" value="U2VydmVyPVNSVlhBREJEU0QzO0RhdGFCYXNlPVNBSVNfRFZMUDtVSWQ9dXNyU0FJUztQd2Q9dXNycThrbTM="/>-->
    <!--Ambiente de DESARROLLO (cnnORA->DVLP)-->
    <add key="DVLP" value="U2VydmVyPXNydnhhZHNxbGQ7RGF0YUJhc2U9c2VydXZfZHZscDtVSWQ9dXNyc2VydXY7UHdkPXVzcnNlcnV2MTM="/>
    <add key="keyDVLP" value="ccss2013"/>
    <!--Ambiente de PRUEBAS (cnnORA->DVLP)-->
    <add key="ADWEB" value="U2VydmVyPXNlcnZ3ZWJcbXNzcWxzZXJ2ZXIwODtEYXRhQmFzZT1zZXJ1djtVSWQ9bnRmc2VydXY7UHdkPW50ZnNlcnV2MTM="/>
    <add key="keyADWEB" value="ccss2013"/>
    <!--Ambiente de ENTRENAMIENTO (cnnORA->IPPRD)-->
    <add key="TRNG" value="U2VydmVyPXNydnhhZHNxbHA7RGF0YUJhc2U9c2VydXZfdHJuZztVSWQ9dXNyc2VydXY7UHdkPXduMTN6eXgz"/>
    <add key="keyTRNG" value="th20ccss13ky"/>
    <!--Ambiente de PROVISIONAL TRNG (cnnORA->IPPRD)-->
    <!--<add key="PROV" value="U2VydmVyPVNSVlhBREJEUzU7RGF0YUJhc2U9c2VydXZfcHJvdjtVSWQ9dXNyc2VydXY7UHdkPXB2Z3R5NDVn"/>-->
    <add key="PROV" value="U2VydmVyPVNSVlhBREJEUzEzO0RhdGFCYXNlPXNlcnV2X3Byb3Y7VUlkPXVzcnNlcnV2O1B3ZD11cTgzc2I1MQ=="/>
    <add key="keyPROV" value="th20ccss13ky"/>
    <!--Ambiente de PRODUCCIÓN (cnnORA->IPPRD)-->
    <!--<add key="PROD" value="U2VydmVyPVNSVlhBREJEUzY7RGF0YUJhc2U9U0VSVVY7VUlkPXVzclNFUlVWO1B3ZD14dDhqd2s1Zg=="/>-->
    <!--<add key="PROD" value="U2VydmVyPVNSVlhBREJEUzY7RGF0YUJhc2U9U0VSVVY7VUlkPXVzclNFUlVWO1B3ZD11cTgzc2I1MQ=="/>-->
    <add key="PROD" value="U2VydmVyPVNSVlhBREJEUzExO0RhdGFCYXNlPVNFUlVWO1VJZD11c3JTRVJVVjtQd2Q9dXE4M3NiNTE="/>
    <add key="keyPROD" value="th20ccss13ky"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>